<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992107394753-hltkf7emu4tp5tpitlg4jfoopip2v7qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992107394753-hltkf7emu4tp5tpitlg4jfoopip2v7qi</string>
	<key>API_KEY</key>
	<string>AIzaSyAnLgkHc9O35h5bbvTBAqCV-FeTBSA68FA</string>
	<key>GCM_SENDER_ID</key>
	<string>992107394753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JonathanKopp.GymRats</string>
	<key>PROJECT_ID</key>
	<string>gymrats-42e4a</string>
	<key>STORAGE_BUCKET</key>
	<string>gymrats-42e4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992107394753:ios:361aa5d08a4623eb</string>
	<key>DATABASE_URL</key>
	<string>https://gymrats-42e4a.firebaseio.com</string>
</dict>
</plist>